* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  background-image: radial-gradient(
    circle 321px at 8.3% 75.7%,
    rgba(209, 247, 241, 1) 0%,
    rgba(249, 213, 213, 1) 81%
  );
}

/*  ::-webkit- is for chrome */
::-webkit-scrollbar {
  width: 0.3em;
  overflow-x: none;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 99, 71, 0.5);
  margin-block: 0.25em;
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 99, 71, 0.8);
  border-radius: 0.3em;
}

h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
}

a {
  color: rgb(56, 56, 56);
}
